<template>
    <require from="./action-item-table.css"></require>
    <div class="table-responsive">
        <!-- <div class="table-header">
            <div class="header-controls">
                <label class="show-completed-checkbox">
                    <input type="checkbox" checked.bind="showCompleted" change.trigger="toggleShowCompleted()">
                    Show Completed
                </label>
            </div>
        </div> -->
        <table class="table table-dark table-hover action-item-table table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">
                        Title
                        <span class="sort-icons">
                            <i class="bi bi-sort-alpha-down" show.bind="sortDirection == 'desc'"
                                click.trigger="sort('title', 'asc')"
                                class.bind="sortField == 'title'? 'active': ''"></i>
                            <i class="bi bi-sort-alpha-up" show.bind="sortDirection == 'asc'"
                                click.trigger="sort('title', 'desc')"
                                class.bind="sortField == 'title'? 'active': ''"></i>
                        </span>
                        <!-- <i class="bi bi-funnel ${filters.title?.length ? 'active' : ''}"
                        click.trigger="toggleFilter('title')"></i> -->
                    </th>
                    <th scope="col">
                        Status
                        <span class="sort-icons">
                            <i class="bi bi-sort-down" show.bind="sortDirection == 'desc'"
                                click.trigger="sort('status', 'asc')"
                                class.bind="sortField == 'status'? 'active': ''"></i>
                            <i class="bi bi-sort-up" show.bind="sortDirection == 'asc'"
                                click.trigger="sort('status', 'desc')"
                                class.bind="sortField == 'status'? 'active': ''"></i>
                        </span>
                        <i class="bi bi-funnel ${filters.status?.length ? 'active' : ''}"
                            click.trigger="toggleFilter('status')"></i>
                    </th>
                    <th scope="col">
                        Due Date
                        <span class="sort-icons">
                            <i class="bi bi-sort-numeric-down" show.bind="sortDirection == 'desc'"
                                click.trigger="sort('dueDate', 'asc')"
                                class.bind="sortField == 'dueDate'? 'active': ''"></i>
                            <i class="bi bi-sort-numeric-up" show.bind="sortDirection == 'asc'"
                                click.trigger="sort('dueDate', 'desc')"
                                class.bind="sortField == 'dueDate'? 'active': ''"></i>
                        </span>
                        <i class="bi bi-funnel ${filters.dueDate?.length ? 'active' : ''}"
                            click.trigger="toggleFilter('dueDate')"></i>
                    </th>
                    <th scope="col">
                        Priority
                        <span class="sort-icons">
                            <i class="bi bi-sort-down" show.bind="sortDirection == 'desc'"
                                click.trigger="sort('priority', 'asc')"
                                class.bind="sortField == 'priority'? 'active': ''"></i>
                            <i class="bi bi-sort-up" show.bind="sortDirection == 'asc'"
                                click.trigger="sort('priority', 'desc')"
                                class.bind="sortField == 'priority'? 'active': ''"></i>
                        </span>
                        <i class="bi bi-funnel ${filters.priority?.length ? 'active' : ''}"
                            click.trigger="toggleFilter('priority')"></i>
                    </th>
                    <th scope="col">
                        Context
                        <span class="sort-icons">
                            <i class="bi bi-sort-alpha-down" show.bind="sortDirection == 'desc'"
                                click.trigger="sort('context', 'asc')"
                                class.bind="sortField == 'context'? 'active': ''"></i>
                            <i class="bi bi-sort-alpha-up" show.bind="sortDirection == 'asc'"
                                click.trigger="sort('context', 'desc')"
                                class.bind="sortField == 'context'? 'active': ''"></i>
                        </span>
                        <i class="bi bi-funnel ${filters.context?.length ? 'active' : ''}"
                            click.trigger="toggleFilter('context')"></i>
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="item of sortedAndFilteredItems"
                    class="${item.status === 'Completed' ? 'completed-item' : ''} ${item.animate ? 'animate' : ''}">
                    <td class="checkbox-column">
                        <label class="custom-checkbox ${item.animate ? 'animate' : ''}">
                            <input type="checkbox" checked.bind="item.status === 'Completed'"
                                change.trigger="toggleCompleted(item)">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                    <td class="item-title" class.bind="item.status=='Completed' ? 'completed' : '' ">
                        <input if.bind="editingItem === item" type="text" class="form-control" value.bind="item.title">
                        <span else>${item.title}</span>
                    </td>
                    <td class.bind="item.status=='Completed' ? 'completed' : '' ">
                        <select if.bind="editingItem === item" value.bind="item.status" class="form-control">
                            <option repeat.for="status of statusOptions" value.bind="status">${status}</option>
                        </select>
                        <span else>${item.status}</span>
                    </td>
                    <td class.bind="item.status=='Completed' ? 'completed' : '' ">
                        <input if.bind="editingItem === item" type="date" value.bind="item.dueDate"
                            class="form-control">
                        <span else>${item.dueDate | dateFormat}</span>
                    </td>
                    <td class.bind="item.status=='Completed' ? 'completed' : '' ">
                        <select if.bind="editingItem === item" value.bind="item.priority" class="form-control">
                            <option repeat.for="priority of priorityOptions" value.bind="priority">${priority}</option>
                        </select>
                        <span else>${item.priority}</span>
                    </td>
                    <td class.bind="item.status=='Completed' ? 'completed' : ''">
                        <select if.bind="editingItem === item" value.bind="item.context" class="form-control">
                            <option repeat.for="context of actionItemService.contextOptions" value.bind="context">
                                ${context}</option>
                        </select>
                        <span else>${item.context}</span>
                    </td>
                    <td>
                        <i class="bi bi-arrows-fullscreen icon mx-1" click.trigger="openEditDialog(item.id)"
                            if.bind="editingItem === item" title="Expand editor"></i>
                        <i class="bi bi-floppy icon mx-1" click.trigger="saveItem(item)" if.bind="editingItem === item"
                            title="Save changes"></i>
                        <i class="bi bi-arrow-counterclockwise icon mx-1" click.trigger="cancelEdit()"
                            if.bind="editingItem === item" title="Cancel edit"></i>
                        <i class="bi bi-pencil icon mx-2" if.bind="editingItem !== item" click.trigger="editItem(item)"
                            title="Edit"></i>

                        <i class="bi bi-trash icon mx-1" click.trigger="deleteItem(item)" title="Delete"></i>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>