<!-- src/components/action-item-table/action-item-table.html -->

<template>
    <require from="./action-item-table.css"></require>
    <div class="table-responsive">
        <div class="row mb-2">
            <div class="col d-flex justify-content-end">
                <button class="btn btn-outline-custom" click.trigger="openColumnSelectDialog()">Select Columns</button>
            </div>
        </div>
        <table class="table table-dark table-hover action-item-table">
            <thead>
                <tr>
                    <th></th> <!-- Checkbox column -->
                    <th repeat.for="column of columns | sort:'order'" if.bind="column.selected">
                        ${column.name}
                        <span class="sort-icons">
                            <i class="bi bi-sort-down" show.bind="sortDirection == 'desc'"
                                click.trigger="sort(column.key, 'asc')"
                                class.bind="sortField == column.key ? 'active': ''"></i>
                            <i class="bi bi-sort-up" show.bind="sortDirection == 'asc'"
                                click.trigger="sort(column.key, 'desc')"
                                class.bind="sortField == column.key ? 'active': ''"></i>
                        </span>
                        <i class="bi bi-funnel ${filters[column.key]?.length ? 'active' : ''}"
                            click.trigger="toggleFilter(column.key)"></i>
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="item of sortedAndFilteredItems"
                    class="${item.status === 'Completed' ? 'completed-item' : ''} ${item.animate ? 'animate' : ''}">
                    <td>
                        <label class="custom-checkbox ${item.animate ? 'animate' : ''}">
                            <input type="checkbox" checked.bind="item.status === 'Completed'"
                                change.trigger="toggleCompleted(item)">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                    <td repeat.for="column of columns | sort:'order'" if.bind="column.selected">
                        <input if.bind="editingItem === item && column.key !== 'title'" type="text" class="form-control"
                            value.bind="item[column.key]">
                        <span else>${item[column.key]}</span>
                    </td>
                    <td>
                        <!-- Action buttons -->
                        <button if.bind="editingItem === item" click.trigger="saveItem(item)">Save</button>
                        <button if.bind="editingItem === item" click.trigger="cancelEdit()">Cancel</button>
                        <i class="bi bi-pencil icon mx-2" if.bind="editingItem !== item"
                            click.trigger="editItem(item)"></i>
                        <i class="bi bi-trash icon" click.trigger="deleteItem(item)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>