/* app.css */
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0;
	padding: 0;
}

.app-container {
	display: flex;
	height: 100vh;
	overflow: hidden;
}

.left-column {
	width: 55px;
	background-color: var(--sidebar-rail-color);
	color: var(--text-color);
	z-index: 1001;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0;
}

.left-column a {
	text-decoration: none;
	color: var(--text-color);
}

.content-sidebar {
	width: 360px;
	overflow-y: auto;
	overflow-x: clip;
	transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
	border-right: 1px solid var(--muted-line-color);
	background-color: var(--modal-background);
	padding-top: 20px;
}

.content-sidebar.hidden {
	width: 0;
	padding-right: 0;
	overflow: hidden;
}

.main-content {
	flex: 1;
	overflow-y: auto;
	/* padding: 20px; */
	transition: margin-left 0.3s ease-in-out;
	padding-bottom: var(--footer-height);
}

.sidebar-action-icon {
	font-size: 1.5em;
	cursor: pointer;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}

.active-section {
	background-color: var(--muted-line-color);
}

.app-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: var(--footer-height, 25px);
	background-color: var(--footer-background-color);
	color: var(--text-color);
}

.footer-content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	padding: 0 15px;
	font-size: 0.8em;
}

/* Add responsive styles here */
@media (max-width: 768px) {
	.app-container {
		flex-direction: column;
	}

	.left-column {
		display: none;
	}

	.mobile-header {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0 10px;
		background-color: var(--modal-background);
		position: sticky;
		top: 0;
		z-index: 1002;
	}

	.content-sidebar {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 1000;
		background-color: var(--background-color);
		transform: translateX(-100%);
		transition: transform 0.3s ease-in-out;
		padding-top: 45px;
	}

	.content-sidebar.visible {
		transform: translateX(0);
	}

	.main-content {
		width: 100%;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

.tag {
	display: inline-flex;
	align-items: center;
	background-color: var(--pink-neon);
	color: white;
	padding: 2px 8px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 4px;
}