.loader-small {
	width: 25px;
	aspect-ratio: 1;
	color: var(--text-color);
	border: 2px solid;
	display: grid;
	box-sizing: border-box;
	animation: l1 4s infinite linear;
}

.loader-small::before,
.loader-small::after {
	content: "";
	grid-area: 1/1;
	margin: auto;
	width: 70.7%;
	aspect-ratio: 1;
	border: 2px solid;
	box-sizing: content-box;
	animation: inherit;
}

.loader-small::after {
	width: 50%;
	aspect-ratio: 1;
	border: 2px solid;
	animation-duration: 2s;
}

@keyframes l1 {
	100% {
		transform: rotate(1turn)
	}
}