.local-storage-loaded-text {
    place-self: center;
    background: linear-gradient(90deg, #00f, #0ff, #00f) -100%/ 200%;
    /* being excessively careful with compat, 
	 * though this has been supported unprefixed and 
	 * in the shorthand across major browsers for a while */
    -webkit-background-clip: text;
    background-clip: text;
    /* use color, don't use -webkit-text-fill-color anymore, 
	 * was meant to solve a problem we haven't had in years */
    color: transparent;
    font-weight: 900;
    font-family: exo, sans-serif;
    animation: shimmer 2s linear infinite, fade-out 1s ease 5s forwards;
}

@keyframes shimmer {
    0% {
        background-position: 0%
    }
    100% {
        background-position: 100%
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}