/* Aurelia dialog background styles */
au-dialog-container {
    background-color: rgba(0, 0, 0, 0.15);
    padding-bottom: 40vh;
    /* Semi-transparent background */
}

au-dialog-container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@keyframes zoomOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.3);
    }
}

/* Quick todo dialog styles */
.quick-todo-dialog {
    width: 50vw;
    padding: 20px;
    background-color: var(--dialog-background);
    color: var(--text-color);
    border: 1px solid var(--muted-line-color);
    border-radius: 10px;
    box-shadow: 0 8px 44px rgba(0, 0, 0, 0.55);

    transition: opacity 0.25s, transform 0.25s;
}

.quick-todo-dialog.closing {
    animation: zoomOut 0.25s ease-out forwards;
}

.dialog-body {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-wrapper i {
    font-size: 1.5em;
    color: var(--muted-text-color);
    margin-right: 10px;
}

.input-wrapper input {
    flex-grow: 1;
    font-size: 1.5em;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    outline: none;
}

.instructions-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.instructions {
    font-size: 0.8em;
    color: var(--muted-text-color);
}

/* You might need to adjust these styles based on your specific Aurelia setup */
ux-dialog-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

ux-dialog-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

ux-dialog {
    max-width: 50vw;
    min-width: 300px;
}